.section {
  padding-top: 180px;
  padding-bottom: 80px;
}

.container {
  max-width: calc(100% - 32px);
  width: 100vw;
  margin: 0 auto;
  @include tablet {
    max-width: calc(100% - 88px);
  }
  @include desktop {
    max-width: 1150px;
  }
}

.header {
  margin: 0 0 32px;
  padding: 0;
  @include headline-3-mob($primary-text);
  @include tablet {
    @include headline-3($primary-text);
  }
}