@font-face{
	font-family: "Roboto";
	src: url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
	font-style: normal; 
	font-weight: normal; 
	}



#mydivider {

	border-top: none !important;

}

#mydivider:hover {

	background: #fff;

}

.preloader {

	background-size: 300px 300px;

}

.gray {

	color: #C4C4C4;

}

section.s-content img {

    margin-bottom: 15px;

}

.divider-header {

	position: relative;
	height: 70px;
	width: 100%;
	border-radius: 10px;
	background: #F2F1EC;

	/* padding: 10px 60px; */
	padding: 10px 0px 10px 155px;
	display: flex;
	align-items: center;
	margin-bottom: 20px;

}

.divider-header h4 {

	font-weight: bold;

}

.step-number {

	position: absolute;

	top: -5px;

	left: 105px;

	color: #3D70B2;

	font-size: 3rem;

	font-weight: bold;
	top: 50%;
    transform: translate(0%, -50%);

}

.box {

	border: 1px solid #C4C4C4;

	text-align: center;

	cursor: pointer;

}

.box:hover p {

	text-decoration: underline;

}

.box p {

	font-weight: bold;

}

.very-small {

	max-width: 850px;

	margin: 0 auto;


}

.type-header {

	color: #fff;

	text-align: center;

	font-weight: bold;

	background: #C0C0C0;

}

/* .radio-group {

	border: 1px solid #c4c4c4;

} */

.inp-radio {

	display: none;

}

.radio-group label {

	display: flex;

	width: 100%;
	flex-direction: column;
	position: relative;
	justify-content: space-between;
	cursor: pointer;
	padding: 15px 5px;

}
.radio-group label::before{
	content: 'Выбрать';
	text-align: center;
	line-height: 40px;
	position: absolute;
	bottom: 0;
	color: #fff;
	width: 94%;
	height: 40px;
	background: #3D70B2;
}

/* .radio-group label  div{

	text-align: center;

} */

.inp-radio:checked ~ label:before {

	content: '';
	position: absolute;
	bottom: 0;
	background: #25A522;
	background-image: url(../img/тест/vector.png);
	background-position: center;
	background-repeat: no-repeat;
	width: 94%;
	height: 40px;
	

}

.osnastki_content {

	display: none;

}

.osnastki_content.active {

	display: block;

}

.section-link.checked {

	opacity: .5;

}

.grafdeslinks {

	margin-top: 40px;

	margin-bottom: 40px;

	display: flex;

	justify-content: space-around

}

.frafdeslinkslink {

	display: flex;

	flex-direction: column;

	/* margin-right: 20px; */

}

.frafdeslinkslink a{

	margin-bottom: 10px;

	font-family: MuseoSans,sans-serifoto;

	color: #000

}





/* innercode */



.vivod {

	display: flex;

	align-items: center;

	background: #25A522;

	width: 100%;

	height: 100%;

	margin-bottom: 20px;

}

.checked_name {

	margin-left: 10px;

	color: #fff;

}

.checkedshtamp {

	margin-left: 10px;

	color: #fff;

}

.inprad {

	display: none;

}

.inprad:checked ~ label {

	opacity: .5;

}

.vibor p{

	color: #fff;

}

.uk-navbar {

	width: 100%;

	justify-content: space-between!important;

}

.header__adress {

	font-family: 'Lato', sans-serif;

	color: #727272!important;

	font-size: 13px!important;

}

.header__adress a {

	font-family: 'Lato', sans-serif;

	color: #727272!important;

	font-size: 13px!important;

}

.uk-navbar-left {

	width: 100%;

}

.uk-navbar-nav {

	width: 100%;

	justify-content: space-between;

}

.a_href_dark {

	border: none!important;

	color: #727272!important;

}

.a_href_dark:hover {

	color: #00B1EB!important;

}

section.s-content h2 {

	font-size: 22px;

	font-weight: 400;

}

.discoffer__content {

	max-width: 278px!important;

}

.discoffer__disc__content {

	max-width: 283px!important;

	font-family: 'Lato', sans-serif!important;

	margin-bottom: 30px!important;

}

ul.kontakts li{

	margin-bottom: 20px!important;

}

.content__flexmain {

	display: flex;

    flex-direction: column;

    align-items: center;

}

.a_href_dark span{

	font-family: 'Lato', sans-serif;

	font-size: 16px!important;

}

.header__mail {

	font-family: 'Lato', sans-serif!important;

	color: #727272!important;

}

.phone {

	border-left: 1px solid #C4C4C4!important;

}

.flex__headermain {

	justify-content: space-between;

}

.navbar__header {

	border-top: 1px solid #e5e5e5;

	border-bottom: 1px solid #e5e5e5;

}

.top-line {

	border: none!important;

}

.top-nav {

	border: none!important;

}

.navbar__header li a {

	font-family: 'Lato', sans-serif!important;

}

.topnav__header {

	margin-top: 15px;

}

.kontact__content {

	margin-top: 0!important;

}

.logo {

	margin-left: 25px !important;

}

.border {

	border: none!important;

	margin-left: 73px!important;

}

.content__flex {

	display: flex;

}

.content__flex li {

	margin-left: 198px;

}

strong {

	font-family: 'Lato', sans-serif!important;

	color: #000!important;

}

ul.kontakts li {

	font-family: 'Lato', sans-serif!important;

	color: #727272;

}

ul.kontakts li span{

	margin-top: 20px;

}

.content__flex li:first-child {

	margin-left: 0px;

}

.mainoffer__content {

	font-family: 'Lato', sans-serif!important;

	font-size: 20px!important;

	font-weight: 500!important;

	text-transform: apercase!important;

	margin-left: 28px!important;

}

.uk-tab::before {

	border-bottom: none!important;

}

.desctop__mobiletabs a{

	border-top: 5px solid #E5E5E5!important;

	border-bottom: 5px solid #E5E5E5!important;

}

.uk-tab>.uk-active>a {

	border-color: #fff!important;

	border-top: 5px solid #5A6872!important;

	border-bottom: 5px solid #5A6872!important;

}



.desctop__mobiletabs li a{

	font-family: 'Lato', sans-serif!important;

	font-size: 14px!important;

	padding-top: 10px;

	padding-bottom: 10px;

}

.uk-section-small {

	padding-top: 20px!important;

}

.mobile__mobiletabs {

	display: none;

}

.tablichki__items {

	display: flex;

    flex-wrap: wrap;

    justify-content: space-between;

	margin-top: 20px;

}

.label__img {
	text-align: center;
}
.label__content {
	cursor: pointer;
	height: 250px;
}
.content {
	display: none;
}
/* .label__content:hover {
	-webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
} */
.last__text {
	height: 45px;
}
.label__text p{
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	color: #000000
}
.label__img img{
	height: 135px;
}
.contentshtamp {
	display: none;
}
.loadMore {
	font-size: 18px!important;
	font-family: "Roboto";
}
.loadMoreshtamp {
	font-size: 18px!important;
	font-family: "Roboto";
}
#loadMoreshtamp {
	color: #000000;
	transition: .3s;
	position: absolute;
	right: 40px;
	top: 50%;
	transform:translate(0%, -50%);
}
.tdclass {
	font-weight: 500;
	font-size: 16px;
	color: #000000!important;
}
#loadMoreshtamp:after {
	content: '';
	display: block;
	position: absolute;
	right: -28px;
    top: 10px;
	border: 5px solid transparent; /* Прозрачные границы */
    border-top: 5px solid #3D70B2; /* Добавляем треугольник */
}
#loadMoreshtamp:hover {
	color: #3D70B2;

	text-decoration: none;
}
.noContent {
	color: #000 !important;
	background-color: transparent !important;
	pointer-events: none;
}
#loadMore {
	color: #000000;
	transition: .3s;
	position: absolute;
	right: 40px;
	top: 50%;
	transform:translate(0%, -50%);
}
#loadMore:after {
	content: '';
	display: block;
	position: absolute;
	right: -28px;
    top: 10px;
	border: 5px solid transparent; /* Прозрачные границы */
    border-top: 5px solid #3D70B2; /* Добавляем треугольник */
}
#loadMore:hover {
	color: #3D70B2;

	text-decoration: none;
}
.noContent {
	color: #000 !important;
	background-color: transparent !important;
	pointer-events: none;
}
.tabs__pech {
	display: flex;
}
.shtamp__img {
	height: 187px;
}
.shtamp__text {
	height: 90px;
	font-size: 13px;
	font-family: "Roboto";
	color: #000
}
.step3 {
	background: #F2F1EC;
	height: 290px;
	border-radius: 10px;
}
.ogrnitem {
	padding-left: 100px;
}
.ogrnitem:first-child {
	padding-top: 40px;
}
.ogrninput {
	width: 418px!important;
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
}
.ogrnlabel {
	font-size: 14px;
}
.dostavka__shtamp {
	display: flex;
	border-bottom: 2px solid #C4C4C4;
}
.step4 {
	border: 2px solid #C4C4C4;
	border-radius: 10px;
	margin-left: -1px;
    margin-right: -2px;
}
.dostavka__check {
	padding-right: 20px;
}
.dnone {
	display: none;
}
.bb {
	border-bottom: none!important;
}
.dostavka__input {
	border-top: none!important;
	border-left: 1px solid #c4c4c4!important;
	border-right: none!important;
	border-bottom: none!important;
	border-radius: 0 10px 0 0;
	width: 50%!important;
}
.border__input {
	border-bottom: 2px solid #C4C4C4!important;
	border-top: 2px solid #C4C4C4!important;
	border-right: none!important;
	border-left: none!important;
	/* border: none!important; */
}
.label__dostavka {
	padding-left: 30px;
}
.border__radius {
	border-radius: unset!important;
}
.button__fix {
	background: #fff;
}
.submit__pechat {
	background: #3D70B2!important;
    width: 135px!important;
    height: 40px!important;
    margin-left: 100px!important;
}
.step {
	position: absolute;
    font-size: 24px;
    left: 30px;
	top: 50%;
    transform: translate(0%, -50%);
	text-transform: uppercase;
	font-family: "Roboto";
}
.undirection {
	flex-direction: row!important;
}
.heightnoviybefore {
	height: 160px!important;
}
.noviybefore:before {
    width: 50%!important;
    right: 0!important;
}
.mt40 {
	margin-top: 40px!important;
}
.mt0 {
	margin-top: 0!important;
}
.tacenter {
	text-align: center;
}
.h3pech {
	font-size: 18px!important;
	font-family: "Roboto";
}
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.tab-link {
	font-family: "Roboto";
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
	position: relative;
}
ul.tabs li:first-child {
	margin-left: 100px;
}
ul.tabs li:last-child {
	padding-right: 100px;
}
ul.tabs li::before {
	content: " ";
	position: absolute;
	display: block;
	width: 18px;
	height: 18px;
	left: -55px;
	top: 50%;
	transform:translate(0%, -50%);
	background: #FFFFFF;
	border: 2px solid #5A6872;
}

ul.tabs li.current{
	/* background: #ededed; */
	color: #222;
}
ul.tabs li.current::before {
	content: " ";
	position: absolute;
	display: block;
	width: 18px;
	height: 18px;
	left: -55px;
	top: 50%;
	transform:translate(0%, -50%);
	background: #3D70B2;
	border: none;
	background-image: url(../img/тест/galka.svg);
	background-position: center;
	background-repeat: no-repeat;
}
.tab-content{
	display: none;
	/* background: #ededed; */
	/* padding: 15px; */
}

.tab-content.current{
	display: inherit;
}
.samosvyaz {
	display: flex;
	padding-left: 100px;
	flex-wrap: wrap;
}
.samosvyazinput {
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
}
.samosvyazname {
	max-width: 170px!important;
}
.samosvyazphone {
	margin-left: 30px;
	max-width: 370px!important;
}
.dostavka__inputs{
	padding-left: 100px;
}
.dostavka__center__input {
	display: flex;
	flex-direction: column;
	margin-right: 29px;
}
.dostavka__center__input:last-child {
	margin-right: 0px;
}
.dostavka__bottom__input {
	display: flex;
	flex-direction: column;
	margin-right: 29px;
}
.dostavka__bottom__input:last-child {
	margin-right: 0;
}
.dostavka__top {
	margin-bottom: 20px;
}
.dostavka__center__inputs {
	display: flex;
	margin-bottom: 20px;
}
.dostavka__bottom__inputs {
	display: flex;
}
.dostavka__label {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #727272!important;
}
.dostavka__top_input {
	width: 566px;
	height: 35px;
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
}
.dostavka__center_input {
	width: 170px;
	height: 35px;
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
}
.dostavka__name {
	width: 170px;
	height: 35px;
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
}
.dostavka__phone {
	width: 371px;
	height: 35px;
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
}
.tabs {
	height: 85px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.treesteps {
	color: #3D70B2;
	font-size: 24px;
	border-bottom: 2px solid #3D70B2;
	margin: 0!important;
	margin-bottom: 28px!important;
	padding-bottom: 8px;
}
.vivozspan {
	padding-right: 20px;
    padding-left: 5px;
}
.limiter {
	width: 1200px;
	margin: 0 auto;
}
.navbar {
	background: #fff;
	/* width: 270px; */
	/* height: 550px; */
	/* padding-top: 19px; */
}
/* .navli {
	margin: 0px!important;
	padding: 0px!important;
	padding-left: 22px!important;
	padding-bottom: 5px!important;
} */
/* .nava {
	margin: 0!important;
	padding: 0!important;
} */
/* .aside {
	height: unset!important;
} */
.h2seo {
	color: #333!important;
	font-weight: 900!important;
	font-size: 28px!important;
	border-bottom: 1px solid #e5e5e5;
}
.textbanner {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
	padding-left: 20px;
}
.uk-breadcrumb li::before {
	margin-right: 5px!important;
	margin-left: -5px!important;
}
.dostavkaml {
	margin-left: 30px;
}

/* innercode */





@media (min-width: 1200px) {

	.uk-child-width-1-2\@l>* {

	    width: 48%;

	}

} 



.radio-group.uk-grid-margin {

    margin-top: 0px ;

}

.radio-group {

	margin-top: 15px!important;

}



.input-inp {

	border: 1px solid #c4c4c4;

	padding: 0px 15px;

	margin: 10px 0px;

}

.input-inp input {

	padding: 5px 15px;

	width: 70%;

	border: none;

	outline: none;

}

.input-inp ~ input:focus {

	background: red;

}

.checkbox-group {
	padding-left: 30px;
	border-bottom: 2px solid #C4C4C4;
	display: flex;
	height: 70px;
	align-items: center;
}
.checkbox-group:first-child {
	border-top: 2px solid #C4C4C4;
}

.checkbox-group input {

	display: none;

}

.checkbox {

	width: 10px;

	padding: 6px;

	height: 10px;

	border: 2px solid #5A6872;

	margin-top: 2px; 

	margin-right: 5px;

}

.checkbox-group input:checked ~ .checkbox {
	width: 18px;
    height: 18px;
	background: #3D70B2;
    border: none;
    background-image: url(../img/тест/galka.svg);
    background-position: center;
    background-repeat: no-repeat;
	
}


.address_input ,

.input-group input {

	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 10px 30px;

	border: 1px solid #c4c4c4;

	
}

.input-group {

	margin-bottom: 15px;



}

.input-group label {

	color: #000;
	font-family: "Roboto";

}

.submit {

	width: 100%;

	background: #25A522;

	border: none;

	padding: 10px;

	color: #fff;

	font-weight: bold;

	font-size: 17px;

	cursor: pointer;

}

@media screen and (max-width: 980px) {

	.uk-grid-small {

    	margin: 0 auto;

    	justify-content: space-between;

	}

	.step2 .uk-grid>*{

		padding-left: 0px;

	}

	.step2 .uk-grid-stack {

		padding: 20px;

	}

	.radio-group label div {

    	width: 100%;

    }

}

.file-group {

	width: 80%;

	margin: 0 auto;

}

.file-group input {

	display: none;

}

.file-group label {

	width: 100%;

	padding: 20px;

	color: #000;

	display: block;

	text-align: center;

	background: #E5E5E5;

}

.novoya-pechat .radio-group{

	border: none;

	padding: 0px;

}

.novoya_pechat .radio-group label {

	padding: 0px;

}

.divider-header h5{

	text-align: center;

}

.divider-header.mb-0 {

	margin-bottom: 0px;

}

.novaya .uk-grid-small>* {

    padding-left: 0px;

}

.novaya label div {

	margin: 0 auto;

}

.my-grid.uk-grid-small {

	margin-left: 0px;

	justify-content: space-between;

}

/* .shtamps .radio-group {

	width: 32%;

} */

.red {

	background: red;

	color: #fff;

	text-align: center;

}

.step2 h5 {

	margin-bottom: 0px;

}

.noviy {

	display: none;

}

.noviy.block {
	margin-top: 15px;
	display: flex;

}

.section-btns {

	cursor: pointer;
	padding: 0!important;
	width: 33%;
	margin-right: 10px;
	text-align: left;
	height: 32px;
}
.section-btns:last-child {
	margin-right: 0;
}
.section-btns h5 {
	font-size: 13px;
	line-height: 32px;
	color: #000;
	font-family: "Roboto";
}
.section-btns:first-child h5 {
	padding-left: 10px;
	text-align: left;
}
.section-btns:last-child h5 {
	padding-left: 10px;
	text-align: left;
}
.section-btns:nth-child(2n) h5 {
	padding-left: 10px;
}
.tabafter {
	position: relative;
}
.tabafter::after {
	content: '';
    display: block;
    position: absolute;
    right: 12px;
    top: 14px;
    border: 5px solid transparent;
    border-top: 5px solid #3D70B2;
}
.tabafter:nth-child(2n)::after{
	right: 6px;
}
.radio-group img {

	cursor: pointer;

}

.name_of_shtamp {

	cursor: pointer;

}

.checkbox-group label {

	cursor: pointer;
	font-family: "Roboto";

}

#success {

	display: flex;

	justify-content: center;

	align-items: center;

	padding: 20px;

	transition: display .3ms;

}

.img-container {

	position: relative;

}

.img-text {

	position: absolute;

	top: 15%;

	right: 50px;

	background: rgba(255,255,255,.7);

	color: #000;

	padding: 30px 60px;

	cursor: default;
	border-radius: 15px;

}

.img-text h4 {

	font-weight: bold;

}

@media screen and (max-width: 980px) {

	.novoya-pechat .radio-group{

	    width: 50%;

	}

	.img-text {

		display: none;

	}

	.content__flex {

		flex-direction: column;

	}

	.content__flex li {

		margin-left: 0;

	}

	.border {

		margin-left: 0!important;

	}

	.mainoffer__content {

		margin-left: 0!important;

	}

}

@media screen and (max-width: 480px) {

	.kontakti__maintab {

		flex-direction: column;

	}

	.desctop__mobiletabs {

		display: none;

	}

	.mobile__mobiletabs li{

		width: 100%!important;

	}

	.mobile__mobiletabs li a{

		text-align: left;

		border-top: none;

		border-bottom: 5px solid #E5E5E5!important;

	}

	.mobile__mobiletabs {

		display: block;

	}



	.desctop__mobiletabs li{

		width: 100%!important;

	}

	.desctop__mobiletabs li a{

		text-align: left;

	}

	.uk-tab>* {

		padding-left: 10px!important;

	}

	.uk-tab>.uk-active>a {

		border-top: none!important;

		border-bottom: 2px solid #5A6872!important;

	}

	section.s-content h2 {

		font-size: 18px!important;

	}

	.content__flexmain {

		align-items: end!important;

	}

	.preloader {

		background-image: url(../img/logo/LOGOmobile.svg);

	}

}