//colors

$yellow: #FEB648;
$blu: #056AC7;
$black: #000000;
$blu-light: #AFD7FD;
$blu-bg: #EBF3FF;
$blu-2: #C2DAFF;
$white: #fff;
$gray: #EAE8E8;
$bg-1: #FAF9F9;
$gray-2: #D7D4D4;
$pink: #C511A1;
$primary-text: #181C27;
$secondary-text: #37465D;