html,
body {
  padding: 0;
  margin: 0;
  @include body1-400($primary-text);
}

html {
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
