.section {
    padding: 80px 0;
}

.input_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 12px;


    &:last-of-type {
        margin-bottom: 0;
    }

    @include tablet {
        margin-bottom: 0;
    }

    @include desktop {
        margin-right: 24px;
        max-width: 258px;
        width: 100%;
    }
}

.label {
    @include body4-500($primary-text);
    margin-bottom: 4px;
}

.input {
    max-width: 100%;
    width: 100%;
    padding: 12px 16px;
    outline: none;
    border: 1px solid transparent;
    background-color: $white !important;
    border-radius: 8px;

    &::placeholder {
        @include body3-400($secondary-text);
        opacity: 0.5;
    }

    @include hover {
        background-color: $blu-bg;
    }

    &:focus {
        border-color: $blu;
    }

    @include body3-400($primary-text);

    @include tablet {
        margin-bottom: 24px;
    }

    @include desktop {
        margin-bottom: 0;
    }
}

.input_error {
    border-color: $pink;
    background-color: $gray;
    color: $secondary-text;
}


.description {
    font-family: Gilroy;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    color: #37465D;
    margin: 8px 0 16px 0;
    padding: 0;
}

.submit {
    margin-top: 16px;
    max-width: 100%;
    width: 100%;

    @include tablet {
        margin: 0;
        grid-area: btn;
        max-width: fit-content;
        margin-bottom: 12px;
        max-width: 100%;
    }

    @include desktop {
        margin: 0;
        max-width: 137px;
        width: 100%;
        height: 100%;
    }
}

.outer_container {
    background-color: $yellow;
    border: 1px solid black;
    border-radius: 60px;

    @include tablet {
        max-width: 100%;
        width: calc(100% - 88px);
        margin-left: auto;
        margin-right: auto;
    }

    @include desktop {
        max-width: 1152px;
        width: 100%;
    }
}

.container {
    max-width: 100%;
    width: calc(100% - 32px);
    margin-left: auto;
    margin-right: auto;
    padding-top: 56px;
    padding-bottom: 56px;
    position: relative;

    @include tablet {
        padding-top: 60px;
        padding-bottom: 60px;
        width: calc(100% - 80px);
        display: grid;
        grid-template-columns: 1fr 1fr;
        // grid-template-rows: 1fr 1fr;
        gap: 0px 24px;
        grid-template-areas:
            "header form"
            "text form";
    }

    @include desktop {
        width: 100%;
        // margin-left: 100px;
        // margin-right: 69px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 50px 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "header"
            "form"
            "subtext";
    }
}

.header {
    @include headline-5($primary-text);
    padding: 0;
    margin: 0;
    margin-bottom: 32px;

    @include tablet {
        @include headline-3-mob($primary-text);
        margin-bottom: 56px;
        grid-area: header;
    }

    @include desktop {
        @include headline-3($primary-text);
        margin-bottom: 32px;
        max-width: 662px;
        margin-left: 98px;
    }
}

.subFormText {
    @include body1-400($secondary-text);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 18px;

    @include desktop {
        position: absolute;
        left: 0;
        top: 44px;
    }
}

.form {
    grid-area: form;

    @include desktop {
        display: flex;
        position: relative;
        align-content: flex-start;
        margin-left: 98px;
    }
}

.subtext {
    @include body1-400($primary-text);
    text-align: center;

    @include tablet {
        text-align: left;
        grid-area: text;
        align-self: baseline;
    }

    @include desktop {
        grid-area: subtext;
        align-self: end;
        text-align: center;
    }
}

.link {
    text-decoration: underline;

    @include hover {
        color: $blu;
    }
}

.overlay {
    z-index: 235 !important;

    @include desktop {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.child {
    min-height: 100%;
    height: 100%;

    @include desktop {
        min-height: auto;
        height: auto;
    }
}

.close {
    @include buttonDefault;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;

    @include tablet {
        right: 44px;
    }

    @include desktop {
        right: 24px;

        @include hover {
            opacity: 0.5;
        }
    }
}

.modal_container {
    position: relative;
    background-color: $white;
    padding: 80px 0;
    max-width: 100%;
    height: 100%;
    width: 100vw;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    @include tablet {}

    @include desktop {
        height: fit-content;
        max-width: 720px;
        border-radius: 12px;
    }
}

.modal_icon {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

.head {
    @include headline-5($primary-text);
    padding: 0;
    margin: 0 0 16px 0;
    text-align: center;
}

.message {
    @include body3-400($secondary-text);
    text-align: center;
    max-width: 328px;
    margin-left: auto;
    margin-right: auto;
}

.star {
    position: absolute;

    path {
        fill: black;
        opacity: 1;
    }

    &:nth-child(1) {
        top: 16px;
        left: 62px;

        @include tablet {
            top: 20px;
            left: 77px;
        }

        @include desktop {
            top: 45px;
            left: 52px;
        }
    }

    &:nth-child(2) {
        top: 137px;
        right: 26px;

        @include tablet {
            top: 66px;
            left: 290px;
            right: auto;
        }

        @include desktop {
            left: auto;
            top: 55px;
            right: 83px;
        }
    }

    &:nth-child(3) {
        bottom: 130px;
        right: 26px;

        @include tablet {
            bottom: auto;
            right: auto;
            top: 224px;
            left: 280px;
        }

        @include desktop {
            top: auto;
            left: auto;
            bottom: 38px;
            right: 234px;
        }
    }

    &:nth-child(4) {
        display: none;

        @include desktop {
            display: block;
            bottom: 72px;
            left: 307px;
        }
    }
}