.container {
  max-width: calc(100% - 32px);
  width: 100vw;
  padding-top: 104px;
  margin: 0 auto;
  @include tablet {
    max-width: calc(100% - 88px);
  }
  @include desktop {
    max-width: 1150px;
  }
}

.list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  li {
    margin-right: 4px;
    display: flex;
    align-items: center;
    @include body4-400($secondary-text);
    transition: 0.3s;
    @include hover {
      opacity: 0.5;
    }
    &:first-of-type {
      .star {
        display: none;
      }
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.star {
  margin-right: 4px;
  max-width: 12px;
  width: 100vw;
  margin: 0 auto;
}