.container {
  padding-bottom: 8px;
  display: flex;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.content {
  margin-bottom: 24px;
}

.track {
  @include desktop {
    height: 5px !important;
  }
}

.thumb {
  @include desktop {
    height: 5px !important;
  }
}

.tab {
  margin-right: 8px;
  white-space: nowrap;
  &:last-of-type {
    margin-right: 0;
  }
}
