.section {
  padding: 80px 0 110px;
  background-color: #fed69a;
  @include desktop {
    padding-top: 136px;
  }
}

.container {
  position: relative;
  @include desktop {
    display: flex;
  }
}

.slider {
  @include tablet {
    margin-left: 44px;
  }
  @include desktop {
    margin-left: 0;
    max-width: 60%;
  }
}

.content {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 328px;
  @include tablet {
    max-width: 420px;
    width: 100vw;
    padding-left: 44px;
    padding-right: 0;
  }
  @include desktop {
    max-width: 368px;
    margin-right: 80px;
    padding: 0;
    $ml: calc(100% - 1150px);
    margin-left: calc($ml / 2);
    width: 100vw;
  }
}

.header {
  @include headline-3-mob($primary-text);
  padding: 0;
  margin: 0 0 16px;
  display: block;
  @include tablet {
    @include headline-3($primary-text);
  }
}

.title {
  @include body1-400($primary-text);
  margin: 0 0 60px;
  padding: 0;
  @include tablet {
    margin-bottom: 48px;
    width: 100%;
  }
  @include desktop {
    margin-bottom: 0;
  }
}

.first_star {
  width: 100vw;
  position: absolute;
  height: 24px;
  max-width: 24px;
  top: 37%;
  left: 40px;
  @include tablet {
    left: 20%;
    top: -40px;
  }
  @include desktop {
    max-width: 32px;
    height: 32px;
    $ml: calc(100% - 1150px);
    left: calc($ml / 2);
    top: -56px;
  }
}

.second_star {
  height: 32px;
  max-width: 32px;
  width: 100vw;
  position: absolute;
  top: -30px;
  right: 30px;
  @include tablet {
    top: -30px;
    right: 100px;
  }
  @include desktop {
    right: auto;
    $ml: calc(100% - 1150px);
    right: calc($ml / 2);
    top: -86px;
  }
}

.three_star {
  height: 16px;
  max-width: 16px;
  width: 100vw;
  position: absolute;
  top: 40%;
  right: 20px;
  @include tablet {
    top: 40%;
    right: 100px;
  }
  @include desktop {
    right: auto;
    top: -30px;
    left: 50%;
  }
}

.four_star {
  height: 16px;
  max-width: 16px;
  width: 100vw;
  position: absolute;
  bottom: -60px;
  right: 20px;
  @include tablet {
    bottom: -70px;
    left: 10%;
  }
  @include desktop {
    bottom: -50px;
    left: 60%;
  }
}
