.section {
  position: relative;
  padding-top: 120px;
  padding-bottom: 62px;
  background-color: #afd7fd;
  @include desktop {
    padding-top: 160px;
    padding-bottom: 124px;
  }
}

.background_wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.container {
  position: relative;
  z-index: 1;
  max-width: calc(100% - 32px);
  width: 100vw;
  margin: 0 auto;
  @include tablet {
    max-width: calc(100% - 88px);
  }
  @include desktop {
    max-width: 1150px;
    display: flex;
  }
}

.header {
  margin: 0 0 86px;
  padding: 0;
  @include headline-1-mob($primary-text);
  @include tablet {
    @include headline-1($primary-text);
    margin-bottom: 92px;
    max-width: 482px;
  }
  @include desktop {
    margin-bottom: 0;
  }
}

.content_block {
  max-width: calc(100% - 20px);
  @include tablet {
    max-width: 482px;
  }
  @include desktop {
    margin-left: 180px;
  }
}

.description {
  @include body2-400($primary-text);
  padding: 0;
  margin: 0 0 16px;
  @include tablet {
    @include body1-400($primary-text);
  }
}

.scroll_btn {
  @include buttonDefault;
  background-color: $white;
  position: absolute;
  z-index: 1;
  height: 80px;
  max-width: 80px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px -2px 2px #82b0db;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
