.container {
  background-color: $yellow;
  padding: 16px 0;
  @include tablet {
    max-width: calc(100% - 88px);
    width: 100vw;
    margin: 0 auto;
    border-radius: 12px;
    padding: 24px;
  }
  @include desktop {
    max-width: 1150px;
  }
}

.block {
  max-width: calc(100% - 32px);
  width: 100vw;
  margin:  0 auto;
  @include tablet {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  @include desktop {
    display: flex;
    align-items: center;
  }
}

.content {
  border-bottom: 1px solid $secondary-text;
  padding-bottom: 16px;
  margin-bottom: 16px;
  @include tablet {
    border: none;
    margin: 0;
    padding: 0;
    max-width: 400px;
    width: 100vw;
  }
  @include desktop {
    display: flex;
    align-items: center;
    max-width: fit-content;
  }
}

.header {
  @include body1-400($primary-text);
  padding: 0;
  margin: 0 0 16px;
  @include desktop {
    margin-bottom: 0;
    margin-right: 32px;
    white-space: nowrap;
  }
}

.description {
  padding: 0;
  margin: 0;
  @include body4-500($primary-text);
  @include desktop {
    max-width: 346px;
  }
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
  @include tablet {
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
  }
  @include desktop {
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
    margin-right: 32px;
  }
}

.cost {
  padding: 0;
  margin: 0;
  @include body1-400($primary-text);
  @include tablet {
    margin-bottom: 12px;
  }
  @include desktop {
    margin-bottom: 0;
    margin-right: 32px;
  }
}

.amount {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.amount_text {
  padding: 0;
  margin: 0 27px 0 0;
  @include headline-5($primary-text);
}

.currency {

}

.clear_btn {

}

.order_btn {
  max-width: 100%;
  width: 100%;
  @include tablet {
    max-width: fit-content;
    width: auto;
  }
}