.container {
  opacity: 0;
  display: none;
  max-width: calc(100% - 32px);
  width: 100vw;
  padding-top: 104px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  @include tablet {
    display: block;
    opacity: 1;
    max-width: calc(100% - 88px);
  }
  @include desktop {
    max-width: 1150px;
  }
}

.list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  .item {
    margin-right: 4px;
    display: flex;
    align-items: center;
    @include body4-400($secondary-text);
    transition: 0.3s;
    .link {
      transition: 0.3s;
      margin-right: 4px;
      @include hover {
        color: $blu;
      }
    }
    &:last-of-type {
      margin-right: 0;
      .star {
        display: none;
      }
    }
  }
}

.star {
  margin-right: 4px;
  max-width: 12px;
  width: 100vw;
  margin: 0 auto;
}
